@media screen and (max-width: 640px) {
	
	.header-container {
/*  width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;*/
    display: block;
/*    margin:10px 0px;*/
    padding: 0px 0px;

}


	nav{
    	display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: none;
        margin: 1em;
    }

	nav a {
		color: #999;
		text-decoration: none;
		margin-left: 1em;
		display: inline-block;
		border-left: 0px;
		padding-left: 3em;
		line-height: 18px;
	}
	nav a:first-child {
		border-left: 0 none;
	}

    #logo {
        width: 100%;
        }
    .small-collapse{
    	width: 100%;
    	margin-bottom: 15px;
    }
    .main-section {
        padding-top: 150px;
    }
	.profile {
	    width:100%;
		height: auto;
		margin: 0 0 10px 0;
		float: none;
	}
}